
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div id="app">
        <contact-component></contact-component>
    </div>

    @*@section scripts{
        <script src="@Url.Content("~/bundle/contact.js")"></script>
    }*@

    <script src="@Url.Content("~/bundle/home.js")"></script>

</body>
</html>
